@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  height: 100%;
}

body {
  background: linear-gradient(to right, #72eeaa, #9feffe);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  height: fit-content;
  width: 26%;
  min-height: 450px;
  min-width: 300px;
  background-color: #fff;
  transition: 1s;
}

.container {
  padding: 7% 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container p {
  padding: 0.8rem 0.5rem;
  text-align: center;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.7);
}

.container progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #028a3d;
  height: 10px;
  width: 100%;
  border-radius: 20px;
  transition: 0.3s;
}

.container p {
  text-align: center;
}

.progress-container {
  width: 100%;
}

.progress-container .state {
  display: flex;
  justify-content: space-between;
}

.progress-container .state span {
  color: rgb(163, 163, 163);
  font-size: 12px;
}

.container progress::-webkit-progress-bar {
  background: #9feffe;
  border-radius: 20px;
}

.container progress::-webkit-progress-value {
  border-radius: 20px;
}

.container progress::-moz-progress-bar {
  border-radius: 20px;
}

.welcome h2,
.container h2 {
  font-weight: 500;
  color: #000000b3;
}

.welcome form {
  width: 100%;
}

.welcome .input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1.5rem 0;
}

.welcome .input-group label {
  font-size: 0.7rem;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 0.5rem;
}

.welcome .input-group input {
  width: 100%;
  height: 2.2rem;
  border: 1px solid #ededed;
  border-radius: 3px;
  padding: 0 10px;
}

.welcome .input-group input:focus {
  outline: 2px solid #ededed;
}

.btn-start {
  width: 140px;
  margin: 0 auto;
  height: 2.4rem;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.bg-green {
  background-color: #028a3d;
}

.container .choices {
  width: 100%;
}

.container .choices .choice {
  border: 1px solid #ededed;
  padding: 0.6rem 0.5rem;
  margin: 20px 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.container .choices .choice input {
  margin-right: 1rem;
  border: 1px solid #ededed;
  outline: none;
}

.container .choices .choice input:checked {
  display: none;
}

.container .choices .choice input + .radio-circle {
  display: none;
}

.container .choices .choice input:checked + .radio-circle {
  display: initial;
}

.container .choices .choice input::before {
  background-color: #028a3d;
}

.container .choices .choice label {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.6);
}

.container .choices .choice.selected {
  border: 1px solid #028a3d;
}

.container .choices .choice .radio-circle {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #028a3d;
  margin-right: 1rem;
  flex: 0 0 auto;
}

.container .buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.container .buttons .btn {
  width: 45%;
  height: 2.4rem;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.container .buttons .btn[disabled] {
  background-color: #8abfa1;
}

.bg-quit {
  background-color: #ec880c;
}

.bg-primary {
  background-color: #0880d6;
}

.m-auto {
  margin: auto;
}

.container .result {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

.container .result .failed {
  border-radius: 50%;
  border: 5px solid #ff3838;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.container .result h5 {
  font-size: 0.9rem;
  color: #000000b3;
  font-weight: bold;
  margin: 1rem 0;
}

.input-alert {
  font-size: 0.65rem;
  color: #ff3838;
  margin-top: 5px;
}

.hide {
  display: none !important;
}

.choice input {
  background-color: #028a3d;
  border: 1px solid #028a3d;
}

@media screen and (max-width: 992px) {
  main {
    width: 40%;
  }
}

@media screen and (max-width: 700px) {
  main {
    width: 55%;
  }
}

@media screen and (max-width: 460px) {
  main {
    width: 80%;
    height: 80%;
  }
}

/**
 * Extracted from: SweetAlert
 * Modified by: Istiak Tridip
 */
.success-checkmark {
  width: 80px;
  height: 115px;
  margin: 0 auto;
}
.success-checkmark .check-icon {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50%;
  box-sizing: content-box;
  border: 4px solid #4caf50;
}
.success-checkmark .check-icon::before {
  top: 3px;
  left: -2px;
  width: 30px;
  transform-origin: 100% 50%;
  border-radius: 100px 0 0 100px;
}
.success-checkmark .check-icon::after {
  top: 0;
  left: 30px;
  width: 60px;
  transform-origin: 0 50%;
  border-radius: 0 100px 100px 0;
  animation: rotate-circle 4.25s ease-in;
}
.success-checkmark .check-icon::before,
.success-checkmark .check-icon::after {
  content: "";
  height: 100px;
  position: absolute;
  background: #ffffff;
  transform: rotate(-45deg);
}
.success-checkmark .check-icon .icon-line {
  height: 5px;
  background-color: #4caf50;
  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 10;
}
.success-checkmark .check-icon .icon-line.line-tip {
  top: 46px;
  left: 14px;
  width: 25px;
  transform: rotate(45deg);
  animation: icon-line-tip 0.75s;
}
.success-checkmark .check-icon .icon-line.line-long {
  top: 38px;
  right: 8px;
  width: 47px;
  transform: rotate(-45deg);
  animation: icon-line-long 0.75s;
}
.success-checkmark .check-icon .icon-circle {
  top: -4px;
  left: -4px;
  z-index: 10;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  box-sizing: content-box;
  border: 4px solid rgb(76, 175, 79);
}
.success-checkmark .check-icon .icon-fix {
  top: 8px;
  width: 5px;
  left: 26px;
  z-index: 1;
  height: 85px;
  position: absolute;
  transform: rotate(-45deg);
  background-color: #ffffff;
}
@keyframes rotate-circle {
  0% {
    transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}
@keyframes icon-line-tip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}
@keyframes icon-line-long {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}
